{% extends 'base.html' %}

{% block container %}

<div class='shopping-cart'>
    <h1 style='text-align:left'>Shopping Cart</h1>
    <!-- Write something to show if cart is empty -->

    <table>
    <tbody>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Remove</th>

        </tr>
        {% for item in items %}
	    {% if 'total' in item %}
	    	<h4>Total: {{ item['total'] }}</h4>

	    {% else %}
                <tr>
                    <td>{{ item['name'] }}</td>
		    <td>{{ item['quantity'] }}</td>
                    <td>{{ item['price'] }}</td>
		    <td>
		        <a href={{ url_for('.delete', item_id=item['_id']) }}>DELETE</a>

		    </td>
           
                </tr>
            {% endif %}
        {% endfor %}

    </tbody>
    
    </table>

<form action='/index'>
    <input type='submit' value='Keep Shopping'>

</form>
{% endblock %}
