{% extends 'base.html' %}

{% block container %}

<div class='shopping-cart'>
    <h1 style='text-align:left'>Shopping Cart</h1>
    <!-- Write something to show if cart is empty -->

    <table>
    <tbody>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Remove</th>

        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item['name'] }}</td>
		<td>{{ item['Quantity'] }}</td>
                <td>{{ item['price'] }}</td>
            
            </tr>
       
       {% endfor %}

    </tbody>
    
    </table>
{% endblock %}
